*.log
.DS_Store
.vagrant
Berksfile.lock
#Gemfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
.bundle
.cache
.kitchen
bin
.kitchen.local.yml
tmp/
test-output/
.settings
.settings/
.project
.classpath
.metadata
*.iml
.idea/
*.jar
*.class
target/
sonar-runner.properties
sonar-project.properties
.sonar/
exec_sonar.sh
*.sh
exec_sonar.bat
*.bat
.metadata
.pmd
.pmdruleset.xml
node_modules